#movie-list{
    padding: 0 !important;
}

#movie-list img {
    clip-path: polygon(50.1% 2.3%, 100% 0%, 100% 43%, 100% 98.8%, 68.3% 97.3%, 32% 100%, 0% 98.8%, 0% 43%, 0% 0%);
    padding: 0;
}
/* 
#movie-list {
    margin-top: 10rem;
} */

.movie-item {
    position: relative;
    margin: 0;
}

#movie-list .row>* {
    padding: 0 !important;
}

#movie-list .row {
    margin: 0 !important;
}

#movie-list .img-fluid {
    width: 100%;
}

.movie-info {
    position: absolute;
    bottom: 7rem;
    left: 8rem;
    width: 60%;
}

.modal-detay img {
    height: 25rem;
}

.modal-detay-dialog {
    width: 400px;
}

.modal-detay-content{
    background-color: maroon;
}

h2 {
    font-family: 'Figuera Variable', sans-serif;
    font-size: 86px;
}

#movie-list p {color: white;}

.btn {
    background: transparent;
    border-radius: 0;
    color:white;
    font-size: 15px;
    padding: 13px 20px;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:600px) {
    .movie-info {
        position: absolute;
        bottom: 2rem;
        left: 4rem;
        width: 80%;
    }

    .modal-detay-dialog { width: 97%;}

    h2 {
        font-size: 25px;
    }

    
    #movie-list {
        margin-top: 10rem;
    }

    #movie-list img {
        height: 14rem;
        object-fit: cover;
    }

    .modal-detay img {
        margin-left: 2rem;
    }

    .movie-button {
        margin-top: 5px !important;
    }

}