
:root {
  /* COLORs */
  --main-backgroud-color:white;
  --background-color: #4c00fd;

  --main-text-color: black;

  /* SIZES */
  --logo-size: 90px;

  --big-font-size: 25px;
  --medium-font-size: 20px;
  --small-font-size: 15px;

  --margin-size: 20px;
  --padding-size: 10px;
}

